@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap";

.one-form {
  font-family: 'Roboto', sans-serif;
  font-size: 4.4vw;
  border: 0.5px solid rgb(218, 213, 213);
  background-color: white;
  margin: 0 15px 12px 15px;
  border-radius: 11px;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.one-parameter {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 15px;
  margin-bottom: 4px;
}

.one-parameter label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.one-parameter input,
.one-parameter textarea {
  border: 1px solid gray;
  width: 50vw;
  border-radius: 5px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  padding: 4px;
  margin-left: 3px;
}

.one-parameter input {
  height: 4.5vh;
}

.one-parameter textarea {
  height: 10vh;
}

.one-parameter input:focus,
.one-parameter textarea:focus {
  background-color: aliceblue;
}

.buttons-form {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 8px;
}

.buttons-form button {
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 5px;
  height: 100%;
  font-size: 3vw;
  width: 20vw;
  cursor: pointer;
  padding: 10px 2px;
}

.buttons-form button:first-child {
  background-color: rgb(173, 220, 145);
}

.buttons-form button:last-child {
  background-color: red;
}

.new-ill {
  justify-content: center;
  display: flex;
}

.newill div h3 {
  margin: 20px;
  font-size: 6vw;
}
